*, ::after, ::before {
    box-sizing: border-box;
}


html,
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

.page-container {
    height: 100%;
}

/*NavBar Section*/

.navbar-container {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px 30px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 6px 0px #00000017;
}

@media (max-width: 700px) {
.navbar-container {
    padding: 7px 20px;
}
}

.logo-container {
    display: flex;    /*this makes logo center aligned*/
    padding-bottom: 4px; /*this makes back icon and profile icon center to logo*/
    margin-right: auto;
}

@media (max-width: 700px) {
.logo-container {
    display: flex;
    flex: 1;
    justify-content: center;
}
}

.logo-img {
    height: 15px;
    padding-left: 0px;
}

@media (max-width: 700px) {
.logo-img {
    margin-left: 0px;
}
}

.navbar-nav {
    display: flex;
}

@media (max-width: 700px) {
.navbar-nav {
    display: none;
}
}

.nav-item {
    display: flex; /*this makes links center aligned just like logo I dont know why!!*/
    margin-left: 40px;
}

.nav-item.home {
    margin-left: 0px;
}

.nav-link {
    font-size: 16px;
    letter-spacing: 0.6px;
    color: #b0b2be;
    cursor: pointer;
    text-decoration: none;
}

.nav-link.active, .nav-link:hover {
    color: #2692e6;
}

.navbar-profile {
    display: flex;
    margin-left: auto;
}

.actionbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    height: 100%;
}

@media (min-width: 700px) {
.actionbar-container {
    display: none;
}
}

.profile-nav {
    /*margin-right: 5px;*/
}

.profile-img {
    height: 30px;
    width: 30px;
    border-radius: 100px;
}

/*Dropdown Section*/

.profile_dropdown-container {
    margin-top: 65px;
    width: 240px;
    right: 30px;
    top: 0px;
    position: absolute;
    display: block;
    z-index: 999;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    color: #62d76b;
}


.dd-items-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dd-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.dd-item-container:hover {
    background-color: #f0f5fd;
    cursor: pointer;
}

.dd-item-container:hover .dropdown-item-text {
    color: #2f3152;
    fill: #2f3152;
}

.dd-item {
    display: flex;
    align-items: center;
}

.dd-item-icon {
    display: flex;
    justify-content: center;
    padding: 5px;
    fill: #b0b2be;
/*    width: 20px;
    height: 20px;*/
}

.dd-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 5px;
    color: #b0b2be;
    font-size: 16px;
}

.dd-hr-container {
    padding-left: 8px;
    padding-right: 8px;
}

.dd-hr {
    border-bottom: 1px solid #f0f5fd;
}

.dd-isolate {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    background-color: transparent;
    /*needed a special font-family: */
}


/*end dd*/


.main-content-container {
    display: flex;
    background-color: #f9fafe;
    height: 100%;
}

/*My Library Section*/

.mylibrary-container {
    width: 400px;
    background-color: #f5f5f5;
    padding-top: 60px;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e8e8e8;
}

@media (max-width: 900px) and (min-width: 699px) {
.mylibrary-container {
    width: 330px;
}
}

@media (max-width: 700px) {
.mylibrary-container {
    width: 100%;
}
}

.mylibrary-scrollable {
    overflow: scroll;
}

.mylibrary-heading {
  background-color: #3659a2;
  font-size: 14px;
  color: #fff;
  padding: 24px 48px 24px 30px;
}

.course-item {
    display: flex;
    cursor: pointer;
    padding: 24px 30px 24px 25px;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
}

.course-item.active {
    background-color: rgba(0,0,0, 0.09);
}

.course-item:hover {
  background-color: rgba(0,0,0, 0.04);
}

.course-img {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.course-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    justify-content: center;
}

.course-title {
  
}

.course-title-link {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    justify-content: center;
    text-decoration: none;
}

.course-dt {
    color: rgba(17,17,17,0.6);
    font-size: 13px;
    font-weight: 400;
}

.course-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}

/*Lessons Section*/

.lessons-container {
    width: 100%;
    background: #e7e7e7;
    display: flex;
    padding-top: 60px;
    padding-left: 400px;
}

@media (max-width: 900px) and (min-width: 699px) {
.lessons-container {
    padding-left: 330px;
}
}


.lessons-scrollable {
    width: 100%;
    overflow: scroll;

}

.lessons-deck {
    margin: 0px;
    padding: 40px 0px 50px;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px #00000017;
    background-color: #ffffff;
}

.course-header {
    display: flex;
    margin: 0px;
    padding: 14px 48px 14px 45px;
    overflow: hidden;
    background-color: #3659a2;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
}

@media (max-width: 700px) {
.course-header {
    padding: 16px 20px 16px 20px !important;
    background-color: #3659a2 !important;
    font-size: 20px !important;
    font-weight: normal !important;
}
}

.course-heading {
    display: flex;
    flex: 1;
}

.course-estimation {
    display: flex;
    margin-left: auto;
    font-size: 16px;
    align-items: center;
}


/*Export from Sololearn*/

   .main-content-container {
    display: flex;
    background-color: #f9fafe;
    height: 100%;
}

/*My Library Section*/

.lessons-list-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    /*max-width: 700px;*/
    background-color: #f5f5f5;
    margin-top: 40px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px #00000017;
    margin: 100px auto 20px;
}

@media (max-width: 900px) and (min-width: 699px) {
.lessons-list-container {
    width: 90%;
    margin-top: 30px;
}
}

/*Below media queries for display 2nd page*/

/*@media (max-width: 700px) {
.lessons-list-container {
    width: 90%;
    margin-top: 50px;
}*/
}

@media (max-width: 700px) {
.lessons-list-container {
    display: none;
}
}

.lessons-list-helper {
    position: fixed;
    background-color: #000000;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 98;
    animation: overlayFadeIn 0.5s forwards;
}

.lessons-list-scrollable {
    overflow: scroll;
}

/*.course-header {
    display: flex;
    margin: 0px;
    padding: 16px 48px 16px 45px;
    overflow: hidden;
    background-color: #3659a2;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
}*/

.course-heading {
    display: flex;
    flex: 1;
}

.course-estimation {
    display: flex;
    margin-left: auto;
    font-size: 16px;
    align-items: center;
}

.lessons-list-header {
  display: flex;
  /* letter-spacing: 1px; */
  /*color: #b0b2be;*/
  /*margin-bottom: 16px;*/
  padding: 40px 35px 40px 35px;
  border-bottom: 1px solid #e8e8e8;
}

@media (max-width: 900px) and (min-width: 699px) {
.lessons-list-header {
  padding: 20px 25px 20px 25px;
}
}

.lessons-list-heading {
  display: flex;
  font-size: 22px;
  justify-content: flex-start;
}

.lessons-list-estimation {
  display: flex;
  font-size: 14px;
  color: #b0b2be;
  justify-content: flex-end;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.lesson-item {
    display: flex;
    /* margin-bottom: 12px; */
    cursor: pointer;
    padding: .5rem 1.5rem .5rem;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
}

.lesson-item.active {
    background-color: rgba(0,0,0, 0.09);
}

.lesson-item:hover {
  background-color: rgba(0,0,0, 0.04);
}

.lesson-img {
    margin-right: 16px;
    border-radius: 50%;
    padding-top: 4px;
}

.lesson-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    justify-content: center;
}

.lesson-title {
  
}

.lesson-title-link {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    justify-content: center;
    text-decoration: none;
}



